.explorer{
    position: absolute;
    display: flex;
    gap:20px;
}
.center{
    height: calc(100vh - 60px);
    width: 100vw;
    background-color: black;
    align-content: center;
    justify-items: center;
}
.error{
    color:white
}
.form{
    gap:15px;
    border-radius: 5px;
    display: grid;
    width: 25vw;
    background-color: rgba(182, 182, 182, 0.349);
    box-shadow: 0px 0px 0px 4px #ffffff2e;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.login{
    color: white;
    text-align: center;
}
.submit{
    width: 20.5vw;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.wrapper{
    width: 20vw;
    height: 30px;
    border-radius: 5px;
}