.explorer{
    position: absolute;
    display: flex;
    gap:20px;
}
.center{
    height: calc(100vh - 60px);
    width: 100vw;
    background-color: black;
    align-content: center;
    justify-items: center;
}
.main{
    display: flex;
    /* flex-direction: row-reverse; */
}
.error{
    color:white
}
.form{
    gap:15px;
    border-radius: 5px;
    display: grid;
    width: 25vw;
    background-color: rgb(90 85 85 / 33%);
    box-shadow: 0px 0px 0px 4px #aba1a12e;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.login{
    color: white;
    text-align: center;
}
.submit{
    width: 20.5vw;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.wrapper{
    width: 20vw;
    height: 30px;
    border-radius: 5px;
}

@media (max-width: 900px) and (max-height: 900px) {
    .explorer{
        height: 50px;
        background-color: rgb(37, 38, 38);
        position: sticky;
        bottom: 0px;
        z-index: 10;
        width: 100%;
    }
    .center {
    height: calc(100vh - 110px);
    }

    .main {
        display: grid;
        height: calc(100vh - 60px);
    }

    .nav{
        position: sticky;
        top: 0px;
        z-index: 10;
    }

    .form{
        width: 80vw;
    }
    .wrapper{
        width: 60vw;
    }
    .submit{
        width: 62vw;
    }
}