.main * {
    padding: 0px;
    margin: 0px;
    color: white;
    background-color: black;
}

.image:hover {
    transform: scale(1.1);
    /* padding: 10px; */
}

.image {
    height: 200px;
    width: calc((90vw - 80px) / 3);
    transition: all 0.2s ease-in-out 0s;
    border-radius: 20px;
    /* margin: 10px;
    padding: 10px; */
    /* position: absolute; */
}

.main {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: calc((90vw - 80px) / 3);
    /* padding: 10px; */

}

.float {
    border-radius: 5px;
    background-color: rgb(134, 141, 138);
    color: white;
    position: absolute;
    bottom: 20px;
    right: 30px;
    backdrop-filter: blur(20px);
}

@media (max-width: 900px) and (max-height: 900px) {
    .image {
        width: calc(100vw - 40px);
    }

    .main {
        width: calc(100vw - 40px);
    }
}