.activeLink{
    background-color: rgb(56 56 56);;
    border-radius: 10px;
>div {
    background-color: rgb(56 56 56);;
    border-radius: 10px;

    >img {
        filter: invert(100%);
    }
}
}
.links:hover{
    background-color: rgb(56 56 56);;
    border-radius: 10px;
>div {
    background-color: rgb(56 56 56);;
    border-radius: 10px;

    >img {
        filter: invert(100%);
    }
}
}
.Red>div {
    background-color:rgb(37, 38, 38);
    border-radius: 10px;

    >img {
        filter: invert(100%);
    }

}
.hero{
    background-color: rgb(33,33,33);
}
.icons {
    width: 32px;
    height: 32px;
}
.main{
    background-color:rgb(33,33,33) ;
    height: 100%;
}
.ul {
    /* margin-left: 5px; */
    background-color: rgb(33,33,33);
    display: grid;
    /* width: 10%; */
    height: calc(100vh - 92px);
    justify-content: space-between;
    list-style: none;
    /* gap:30px; */
    padding: 0px;
    padding-right: 10px;
    justify-content: space-between;

    >li {
        align-content: center;

        /* background-color: rgb(147, 138, 138); */
        >a {
            text-decoration: none;
            height: 50px;
            width: 100%;
            display: inline-block;

            /* >div:hover {
                background-color: rgb(188, 183, 183);
                border-radius: 10px;

                >img {
                    filter: invert(100%);
                }

            } */

            >div {
                gap: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                text-align: center;
                height: 100%;
                border-bottom: 1px solid rgb(147, 138, 138);
                background-color: transparent;
                color: white;
            }
        }
    }
}

@media (max-width: 900px) and (max-height: 900px) {
    .hidden{
        display:none;
    }
    .ul {
    /* margin-left: 5px; */
    background-color: rgb(37, 38, 38);
    /* display: grid; */
    display: flex;
    width: calc(100% - 10px);
    height: 10px;
    /* align-items: center; */
    align-content: center;
    list-style: none;
    /* gap:30px; */
    padding: 0%;
    /* justify-content: space-between; */

    >li {

        /* background-color: rgb(147, 138, 138); */
        >a {
            text-decoration: none;
            height: 10px;
            /* width: 100%; */
            /* display: inline-block; */

            /* >div:hover {
                background-color: rgb(188, 183, 183);
                border-radius: 10px;

                >img {
                    filter: invert(100%);
                }

            } */

            >div {
                /* gap: 5px; */
                display: flex;
                /* justify-content: center; */
                /* align-items: center; */
                /* align-content: center; */
                /* text-align: center; */
                /* height: 100%; */
                border-bottom: 1px solid rgb(147, 138, 138);
                background-color: transparent;
                color: white;
            }
        }
    }
}
}