.explorer {
    position: absolute;
    display: flex;
    gap: 20px;
}

.center {
    height: calc(100vh - 60px);
    width: 100vw;
    background-color: black;
    align-content: center;
    justify-items: center;
}

.error {
    color: white
}

.form {
    gap: 15px;
    border-radius: 5px;
    display: grid;
    width: 25vw;
    background-color: rgba(182, 182, 182, 0.349);
    box-shadow: 0px 0px 0px 4px #ffffff2e;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.login {
    color: white;
    text-align: center;
}

.submit {
    width: 20.5vw;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;

}

.wrapper {
    width: 20vw;
    height: 30px;
    border-radius: 5px;
}

.file_upload {
    width: 20vw;
    background: #00ccff;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    transition: background-color 1s ease-in-out 0s;
    transition: transform 0.5s ease-in-out 0s;
}

.file_upload::file-selector-button {
    width: 20vw;
    border: none;
    /* background: #4CAF50; */

    background-color: var(--button-bg, #00ccff);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.files_data {
    display: grid;
    gap: 5px;
    align-items: center;
}

.label {
    color: white;
    font-size: 20px;
}

@media (max-width: 900px) and (max-height: 900px) {
    .explorer {
        justify-content: center;
        z-index: 10;
        padding-left: 25px;
        padding-bottom: 10px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        width: calc(100vw - 30px);
        background-color: black;
        display: flex;
        height: auto;
        align-items: center;

        >ul {
            align-items: center;
            margin-right: 15px;
            display: flex;
            justify-content: space-between;
            width: calc(100vw);
            height: auto;

            >li {
                height: 32px;

                >a {
                    height: auto;

                    >div {
                        border-bottom: transparent;
                    }
                }
            }
        }
    }

    .form {
        width: 80vw;
    }

    .wrapper {
        width: 60vw;
    }

    .submit {
        width: 62vw;
    }

    .file_upload {
        width: 60vw;
    }

    .file_upload::file-selector-button {
        width: 60vw;
    }
}