.explorer {
    position: absolute;
    display: flex;
    gap: 20px;
}

.main {
    display: flex;
    gap: 20px;
}

.video_tag {
    padding: 10px;
    width: 60vw;
    color: white;
    overflow: scroll;
    scrollbar-width: none;
    padding: 5px;
    margin: 10px;
    
}

.video {
    width: 55vw;
    background: #1e2020;
}

.white {
    height: calc(100vh - 60px);
    width: 100vw;
    background-color: black;
    align-content: center;
    justify-items: center;
}

.content {
    justify-content: space-between;
    display: flex;
    width: 90vw;
    margin-left: 10vw;
    height: 90vh;
    /* width: 80vw; */
    /* overflow: hidden; */
    scrollbar-width: none;
}
.vidcontent{  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
}
.commnetBox{
    margin-top: 10px;
    /* height: 100px; */
    /* overflow: hidden; */
}
.title{
    font-size: 28px;
}
.channelName{
    font-size: 18px;
    color: #9ea1a1;
}
.subscribe{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}
.channelSubcribe{
    display: flex;
    gap: 10px;
    align-items: center;
}
.sidebar {
    span>span>img:hover {
        transform: scale(1);

    }

    /* position: absolute; */
    margin-left: 10px;
    right: 10px;
    overflow: scroll;
    /* overflow: scroll; */
    scrollbar-width: none;

    /* background-color: aqua; */
    >span {
        display: grid;
        margin-right: 20px;

        >des {
            padding-top: 20px;
            padding-left: 5px;
        }
    }
}

@media (max-width: 900px) and (max-height: 900px) {
    .commnetBox{
    /* height: 80px; */
    /* overflow: hidden; */
}
    .video {
        width: 80vw;
        height: 20vh;
    }
    .video_tag{
        width: auto;
        color: white;
    }
    .sidebar {
        /* height: 50vh; */
        width: 80vw;
        margin-bottom: 70px;
        >span {
            >des{
                padding-top: 0px;
            }
            >span {
                >img {
                    height: auto;
                    width: 100px;
                    border-radius: 5px;
                }
                >span{
                    display: none;
                }
            }
        }
    }

    .content {
        display: grid;
        word-wrap: break-word;
        /* height: auto; */
        
    }
    .white{
        align-content: normal;
    }

    .explorer {
        justify-content: center;
        z-index: 10;
        padding-left: 25px;
        /* padding-bottom: 10px; */
        position: absolute;
        bottom: 0px;
        display: inline-block;
        width: calc(100vw - 30px);
        background-color: black;
        display: flex;
        height: auto;
        align-items: center;

        >ul {
            align-items: center;
            margin-right: 15px;
            display: flex;
            justify-content: space-between;
            width: calc(100vw);
            height: auto;

            >li {
                height: 32px;

                >a {
                    height: auto;

                    >div {
                        border-bottom: transparent;
                    }
                }
            }
        }
    }
}