.main {
    display: flex;
    gap: 20px;
    background-color: rgb(10, 10, 10);
}

.content {
    position: sticky;
    padding: 10px;
    height: calc(100vh - 92px);
    overflow: scroll;
    scrollbar-width: none;
    background-color: rgb(10, 10, 10);
}

.app {
    background-color: rgb(10, 10, 10);
    padding: 0%;
    margin: 0%;
}

@media (max-width: 900px) and (max-height: 900px) {
    .content {
        height: 70vh;
    }

    .explorer {
        justify-content: center;
        z-index: 10;
        padding-left: 25px;
        padding-bottom: 10px;
        position: absolute;
        bottom: 0px;
        display: inline-block;
        width: calc(100vw - 30px);
        background-color: black;
        display: flex;
        height: auto;
        align-items: center;

        >ul {
            align-items: center;
            margin-right: 15px;
            display: flex;
            justify-content: space-between;
            width: calc(100vw);
            height: auto;

            >li> {
                height: 32px;
                a> {
                    height: auto;

                    div {
                        border-bottom: transparent;
                    }
                }
            }

            .main {
                display: block;
                height: calc(100vh - 60px);
            }
        }